:root {
    --guest-option: block;
    --account-option: none;
}

body {
    font-size: 16px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color: #666;
    position: sticky;
    top: 0;
}

li a, .dropDown {
    display: block;
    color: black;
    text-align: center;
    padding: 8px 10px;
    text-decoration: none;
}

li a:hover, .dropDown:hover{
    background-color: #111;
    color: #ddd;
    cursor: pointer;
}

.header {
    color: #eee;
    margin: 0;
    height: 50px;
    background-color: #111111;
    padding: 8px 20px;
    cursor: pointer;
}

.right {
    float: right;
    border-right: 1px solid #aaa;
}

.left {
    float: left;
    border-left: 1px solid #aaa;
}

.guest {
    display: var(--guest-option);
}

.account {
    display: var(--account-option);
}