<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>About</title>
    <link rel="icon" type="image/jpg" href="../favicon.ico"/>
    <link rel="stylesheet" href="src/MainStyle.css"/>
</head>
<body>
<div id="navBar"></div>
<script src="//code.jquery.com/jquery.min.js"></script>
<script>
    $.get("TopToolBar.html", function(data){
        $("#navBar").replaceWith(data);
    });
</script>

<div class="contentBox">
    <div class="content fullContent">
        <h1>Event Managing Website</h1>
        <p>
            This project is created by <a href="https://github.com/XY-Yue">XY-YUE</a>, based on a course project of
            CSC207: Software Design.
        </p>
        <p>
            The project can be used to do event planning and organizing, it can be used in a cinema for movie
            scheduling, or it can be a tool to help students plan their time table and courses. For more detail on this
            project (features, design, etc), see
            <a href="https://github.com/XY-Yue/EventManagingSystem">Event Managing System</a>
        </p>
    </div>
</div>

<div id="footer"></div>
<script>
    $.get("Footer.html", function(data){
        $("#footer").replaceWith(data);
    });
</script>
</body>
</html>