<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Your Messages</title>
    <link rel="icon" type="image/jpg" href="../favicon.ico"/>
    <link rel="stylesheet" href="src/MainStyle.css"/>
    <script type="module" src="src/MessageViewingPage.js"></script>
</head>
<body>
<div id="navBar"></div>
<script src="//code.jquery.com/jquery.min.js"></script>
<script>
    $.get("TopToolBar.html", function(data){
        $("#navBar").replaceWith(data);
    });
</script>

<div class="contentBox">
    <div class="content sideContent">
        <h1>Apply Filters:</h1>
        <div class="searchField">
            Message Status:<br>
            <input type="radio" id="sent" value="sent" name="messageStatus">
            <label for="sent">sent</label>
            <input type="radio" id="received" value="received" name="messageStatus">
            <label for="received">received</label><br>
        </div>

        <div class="searchField">
            <label for="senderAndReceiver" id="usernameField">Sender: </label><br>
            <input class="searchBar sideSearchBar" type="text" id="senderAndReceiver"
                   name="senderAndReceiver" placeholder="enter sender's full username to search"><br>
        </div>

        <div class="searchField">
            <label for="subject">Subject: </label><br>
            <input class="searchBar sideSearchBar" type="text" id="subject"
                   name="subject" placeholder="enter keyword in subject to search"><br>
        </div>

        <button class="clickable loadMoreContent" id="applyFilters">Apply</button>
    </div>
    <div class="content mainContent">
        <button class="generalActionButton clickable" id="sendMessage">Send Message</button>
        <h2>Your Messages: </h2>
        <dl class="displayItems" id="messageList"></dl>
        <div class="loadMoreContent clickable" id="moreMessagesButton">Load More</div>
    </div>
</div>

<div id="footer"></div>
<script>
    $.get("Footer.html", function(data){
        $("#footer").replaceWith(data);
    });
</script>
</body>
</html>