<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Rooms</title>
  <link rel="icon" type="image/jpg" href="../favicon.ico"/>
  <link rel="stylesheet" href="src/MainStyle.css"/>
    <script type="module" src="src/RoomViewingPage.js"></script>
</head>
<body>
<div id="navBar"></div>
<script src="//code.jquery.com/jquery.min.js"></script>
<script>
  $.get("TopToolBar.html", function(data){
    $("#navBar").replaceWith(data);
  });
</script>

<div class="contentBox">
    <div class="content sideContent">
        <h1>Apply Filters:</h1>
        <div class="searchField">
            <label for="roomName">name: </label><br>
            <input class="searchBar sideSearchBar" type="text" id="roomName"
                   name="roomName" placeholder="enter keyword to search"><br>
        </div>
        <div class="searchField">
        <label for="capacity">Capacity: </label>
        <input class="userInputField" type="number" id="capacity" min="1" value="100"
               name="capacity" placeholder="Minimum capacity"><br>
        </div>
        <div class="searchField">
            Available time:<br>
            <label for="startHour">from</label>
            <select id="startHour" name="start">
                <option value="-">-</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
            </select>
            <label for="endHour">to</label>
            <select id="endHour" name="end">
                <option value="-">-</option>
                <option value="0">0</option>
                <option value="1">1</option>
                <option value="2">2</option>
                <option value="3">3</option>
                <option value="4">4</option>
                <option value="5">5</option>
                <option value="6">6</option>
                <option value="7">7</option>
                <option value="8">8</option>
                <option value="9">9</option>
                <option value="10">10</option>
                <option value="11">11</option>
                <option value="12">12</option>
                <option value="13">13</option>
                <option value="14">14</option>
                <option value="15">15</option>
                <option value="16">16</option>
                <option value="17">17</option>
                <option value="18">18</option>
                <option value="19">19</option>
                <option value="20">20</option>
                <option value="21">21</option>
                <option value="22">22</option>
                <option value="23">23</option>
            </select><br>
        </div>

        <div class="searchField">
            Has features:
            <div class="multipleChoiceBox" id="features" style="width: 80%">
            </div>
        </div>

        <button class="clickable loadMoreContent" id="applyFilters">Apply</button>
    </div>
    <div class="content mainContent">
        <button class="generalActionButton clickable" id="addRoom">+ Add Room</button>
        <p id="searchResultTitle"></p>
        <dl class="displayItems" id="roomList"></dl>
        <div class="loadMoreContent clickable" id="moreRoomsButton">Load More</div>
    </div>
</div>

<div id="footer"></div>
<script>
  $.get("Footer.html", function(data){
    $("#footer").replaceWith(data);
  });
</script>
</body>
</html>