<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="src/TopToolBarStyle.css"/>
<script type="text/javascript" src="src/TopToolBar.js"></script>
<h1 class="header" onclick="jumpToMain()">Your Event Manager</h1>
<ul>
  <li><a class="left" onclick="jumpToAbout()">About</a></li>
  <li><a class="left" onclick="jumpToEventSearch()">Events</a></li>
  <li><a class="left" onclick="jumpToRoom()">Rooms</a></li>
  <li><a class="right guest" onclick="jumpToLogin()">Sign in</a></li>
  <li><a class="right guest" onclick="jumpToSignUp()">Sign up</a></li>
  <li><a class="right account" onclick="jumpToMyAccount()">My Account</a></li>
  <li><a class="right account" onclick="jumpToMyEvent()">My Events</a></li>
  <li><a class="right account" onclick="jumpToMyMessage()">Messages</a></li>
  <li><a class="right account" onclick="logOut()">Log out</a></li>
</ul>
</html>